.extra-small {
  height: 32px;
  font-size: 0.833rem;
  font-weight: 400;
}

.small {
  height: 38px;
  font-size: 1rem;
  font-weight: 400;
}

.normal {
  height: 45px;
  font-size: 1rem;
  font-weight: 500;
}

.large {
  height: 48px;
  font-size: 1.1rem;
  font-weight: 500;
}
